.head{
    color: #ffffff;
}
.body{
    color: #a4a5c3;
}
.body-min-dark{
    color: rgba(94, 95, 120, 0.9);
}
.body-min-light{
    color: rgba(164, 165, 195, 0.9);
}
.dis-head{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.dis-numbers{
    }
.head{
    color: #ffffff;
}
.head{
    color: #ffffff;
}