.head{
    color: #ffffff;
}
.body{
    color: #a4a5c3;
}
.body-min-dark{
    color: #5e5f78;
}
.head{
    color: #ffffff;
}
.head{
    color: #ffffff;
}
.head{
    color: #ffffff;
}
.head{
    color: #ffffff;
}