/*Font*/

.menu{
	font-weight: 900;
  	text-transform: uppercase;
	line-height: 1.2em;
	list-style: none;
	text-decoration: none;
	letter-spacing: 2px;
	margin-bottom: 250px;
}
.new-project{
	font-weight: 500;
  	text-transform: uppercase;
	line-height: 1.05em;
	list-style: none;
	text-decoration: none;
	letter-spacing: 0.5px;
}
.head{
 	font-weight: 900;
 	text-transform: uppercase;
 	margin-bottom: 25px;
  	line-height: 1.05em;
}
.body{
	font-weight: 900;
 	text-transform: uppercase;
 	margin-bottom: 25px;
  	line-height: 1.05em;
}
.body-min-dark{
	font-weight: 900;
 	text-transform: uppercase;
 	margin-bottom: 25px;
  	line-height: 1.05em;
}
.body-min-light{
	font-weight: 900;
 	text-transform: uppercase;
 	margin-bottom: 25px;
  	line-height: 1.05em;
}
.dis-head{
	font-weight: 900;
 	text-transform: uppercase;
 	margin-bottom: 25px;
  	line-height: 1.05em;
}
.dis-numbers{
	font-weight: 900;
 	text-transform: uppercase;
 	margin-bottom: 25px;
  	line-height: 1.05em;
}
.dis-service-text{
	font-weight: 900;
 	text-transform: uppercase;
 	margin-bottom: 25px;
  	line-height: 1.05em;
}
.view-project{
	font-weight: 900;
 	text-transform: uppercase;
 	margin-bottom: 25px;
  	line-height: 1.05em;
}

/*Layout*/

.bar-box {
    display: flex;
    justify-content: flex-end;
}
#menu{
	width: 70px;
	height: 70px;
	cursor: pointer;
}

.rm-menu{
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}
.bar{
	height: 3px;
	width: 35px;
	background-color: #ffffff;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);
    margin-bottom: 5px;
}
#bar2{
	background-color: transparent;
}
#bar3{
	transform: translateY(4px);
}
.nav{
	padding: 0;
	transition: 0.3s ease;
	display: none;

}
#menu-bg, #menu-bar{
	top: 0;
	right: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0px;
	height: 0px;
	margin: 4vh 4vh;
	background: #583DFF;
	border-radius: 25px;
	transition: 0.3s ease;
}
.change-bg{
	width: 96%;
	height: 93vh;
}
#menu-bar{
	z-index: 2;
	width: 35%;
	height: 93vh;
	margin: 4vh;
}

.change .bar{
    background-color: white;
    
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
    display: flex;
	flex-direction: column;
	justify-content: center;
}
