.text-center{
    text-align: center;
}
.d-f{
    display: flex;
}
.h-l{
    justify-content: flex-start;
}
.h-c{
    justify-content: center;
}
.h-r{
    justify-content: flex-end;
}
.h-sb{
    justify-content: space-between;
}
.h-sa{
    justify-content: space-around;
}
.v-t{
    align-content: flex-start;
}
.v-c{
    align-content: center;
}
.v-e{
    align-content: flex-end;
}
.v-sb{
    align-content: space-between;
}
.v-sa{
    align-content: space-around;
}
.fd-r{
    flex-direction: row;
}
.fd-rr{
    flex-direction: row-reverse;
}
.fd-c{
    flex-direction: column;
}
.fd-cr{
    flex-direction: column-reverse;
}
.fd-u{
    flex-direction: unset;
}